body {
  background: #ffffff;
}

#root {
  width: min(402px, 100vw);
  height: min(874px, 100dvh);
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 403px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }

  #root {
    position: relative;
  }
}
